{% extends 'base.html' %}

{% block title %}
   author
{% endblock %}

{% block author_active %}
    active
{% endblock %}

{% block content %}

          <h2 class="sub-header">作者列表</h2>
            <a class="btn btn-info btn-default" href={% url 'app01:author_add' %}>添加作者</a>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>ID</th>
                        <th>作者</th>
                        <th>代表作</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for author in all_authors %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ author.pk }}</td>
                            <td>{{ author.name }}</td>
{# pub对象定义了__str__方法#}
                            <td>
{#                                {% for book in author.books.all %}#}
{#                                    《 {{ book.title }} 》#}
{#                                {% endfor %}#}
                                {{ author.show_books }}
                            </td>
                            <td><a class="btn btn-danger btn-sm" href={% url 'app01:del' 'author' author.pk %}>删除</a></td>
                            <td><a class="btn btn-primary btn-sm" href={% url 'app01:author_edit' author.pk %}>编辑</a></td>
                        </tr>
                    {% endfor %}
               </tbody>

            </table>
          </div>

{% endblock %}